<!DOCTYPE html>
<html lang="en">

<head>
    include ./links
    <title>student management</title>
</head>

<body>
    include ./header
    <main id="main_body">
        <div class="user-create">
            <a href="/new_user"><span>new student <i class="far fa-user"></i></span></a>
        </div>
        <form action="/" method="post">
            <table class="table">
                <thead class="table-head">
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>@email</th>
                        <th>gender</th>
                        <th>status</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    include ./table
                </tbody>
            </table>
        </form>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    script(src="../public/js/index.js") 
</body>

</html>