<!DOCTYPE html>
<html lang="en">

<head>
    include ./links
    <title>user management</title>
</head>

<body>
    include ./header
    <main id="main_body">
        <div class="filter">
            <a href="/"><span> <i class="fas fa-angle-double-left"></i> All User</span></a>
        </div>

        <div class="heading center">
            <h1 class="center dark-color">Update user</h1>
            <p class="light-color">use bellow form to update a user</p>
        </div>

        <!-- form handling -->
        <div id="contact-box">
            <form method="POST" id="update_user">
                <div class="form-group">
                    <label for="name" class="light-color">name: </label>
                    <input type="text" name="name" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">

                    <label for="email" class="light-color">Email: </label>
                    <input type="email" name="email" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="gender" class="light-color">Gender: </label>
                    <input type="radio" name="gender" value="male">Male
                    <input type="radio" name="gender" value="female">Female
                </div>
                <div class="form-group">
                    <label for="status" class="light-color">status: </label>
                    <input type="radio" name="status" value="active">active
                    <input type="radio" name="status" value="inactive">inactive
                </div>
                <div class="form-group">
                    <button type="button" id="submit_btn">Update</button>
                </div>
            </form>
        </div>
    </main>
</body>

</html>