<!DOCTYPE html>
<html lang="en">

<head>
    include ./links
    <title>Student management</title>
</head>

<body>
    include ./header
    <main id="main_body">
        <div class="filter">
            <a href="/"><span> <i class="fas fa-angle-double-left"></i> All Student</span></a>
        </div>

        <div class="heading center">
            <h1 class="center dark-color">Update student</h1>
            <p class="light-color">use bellow form to update information of student</p>
        </div>

        //-
        //-
        <!-- form handling -->
        <div id="contact-box">
            <form  method="POST" id="update_user">
                <div class="form-group">
                    <input type="hidden" name="id" value="#{user._id}" >
                </div>
                <div class="form-group">
                    <label for="name" class="light-color">name: </label>
                    <input type="text" name="name" value="#{user.name}" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">

                    <label for="email" class="light-color">Email: </label>
                    <input type="email" name="email" id="email" value="#{user.email}" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="gender" class="light-color">Gender: </label>
                    if user.gender == "male"
                        <input type="radio" name="gender" value="male" checked>Male
                        <input type="radio" name="gender" value="female">FeMale
                    if user.gender == "female"
                        <input type="radio" name="gender" value="male">Male
                        <input type="radio" name="gender" value="female" checked>FeMale
                </div>
                <div class="form-group">
                    <label for="status" class="light-color">status: </label>
                    if user.status == "active"
                        <input type="radio" name="status" value="active" checked>active
                        <input type="radio" name="status" value="inactive">inactive
                    if user.status == "inactive"
                        <input type="radio" name="status" value="active">active
                        <input type="radio" name="status" value="inactive" checked>inactive
                </div>
                <div class="form-group">
                    <button type="submit" id="submit_btn">Update</button>
                </div>
            </form>
        </div>
    </main>
    include ./footer 
</body>

</html>