*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: rgba(0,0,0,0.7) url("../img/pexels-sanaan-mazhar-3075993.jpg");
    background-size:cover;
    background-blend-mode: darken;
    display: flex;
    flex-direction:column;
    height: 100vh;
}
.center{
    text-align: center;
}
.light-color{
    color: rgb(192 183 183);
}
.dark-color{
    color:white;
}
.container{
    margin: auto;
    text-align: center;
}
.container a{
    text-decoration: none;
    color: #ff321c;
}
#header{
    width: 100vw;
    font-size: 2rem;
    /* background-color: #c8c8c8; */
    border: 2px solid rgb(224, 224, 224);
    font-weight: bold;
}
.user-create span {
    border: 1px solid snow;
    font-size: 1.5rem;
    padding: 5px;
    box-shadow: 1px 2px 5px #e9e0e0;
  
}
.user-create{
    margin-bottom: 27px;
}
.user-create a{
    text-decoration: none;
    color: #ff5908;
}
#main_body{
    width: 740px;
    margin: 40px auto;
}
.table{
    border-spacing: 0px;
    width: 100%;
}
.table td,.table th{
    border-top: 1px solid #fa6c6c;
    vertical-align: top;
    text-align: center;
    color: white;
    font-size: 1.1rem;
    padding: 4px 0px;
}
.table-head{
    background-color: #0b0a0a;
    color: white;
}
.table td a{
    color: #d3cccc;
    padding: 1px 0px;
}
.update{
    margin: 2px;
}
.table tr:hover{
    background-color: rgb(0 0 0);
}
@media screen and (max-width:1054px){
    .container{

        width: 72%;
    }
    #header{ 
        font-size: 1rem;
    }
    .user-create span {
       
        font-size: 0.9rem;
    }
    #main_body {
        width: 358px;
    }
    .table td,.table th{
        font-size: 0.8rem;
        padding: 2px 0px;
    }
    #contact-box button {
        width: 35%;
    }
    #contact-box {
        width: 80%;
        font-size: 0.8rem;
    }
    #main_body {
        width: 471px;
    }
}

.filter a{
text-decoration: none;
color: #e1d9d9;
font-size: 1.4rem;
}
.filter span{
    border: 1px solid #edecec;
    box-shadow: 2px 2px 5px #d5c5c5;
}
.heading {
    border-bottom:1px solid black;
}

/* form styling */
#contact-box {
    width: 60%;
    color: white;
    margin: 20px auto;
    font-size: 1.3rem;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid #fffcfc;
    height: 200px;
    padding: 20px;
}
#contact-box button {
    width: 16%;
    margin: auto;
    display: block;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 2px 2px 5px;
}

#contact-box button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
#contact-box input {
    padding: 0.5rem;
    background-color: black;
    border-radius: 9px;
    color: white;
}
#user_data h1{
    font-size: 1.3rem;
    /* padding: 2px 0px; */
    font-style: italic;
    text-align: center;
}

.table td a:hover {
    color: #2c29b0;
}
